Requirements
> 1 - tkinter
> 2 - messagebox from tkinter
> 3 - random
> 4 - string
> 5 - pyperclip

-- tkinter: Required to create a GUI window with specified properties and settings. It provides tools to design a user-friendly interface.

-- messagebox from tkinter: Used for creating popups to display informational or error messages to the user.

-- random: Essential for generating random values, which can be useful for tasks like creating randomized passwords or generating unique data.

-- string: Provides constants such as letters, digits, and special characters, which are often used when working with text, especially in password generation or text manipulation.

-- pyperclip: Allows copying text to the clipboard programmatically, making it convenient for users to copy generated outputs like passwords.